APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=javzandamba_center
DB_USERNAME=root
DB_PASSWORD=secret

HOME_YOUTUBE_URL=https://www.youtube.com/watch?v=NABeJkFN0Wc
